<!-- <div class="container">
   <app-topic [topic] = "'🎯 Custom Structural Directives Demo'"></app-topic>


  <div *appPermission="'admin'" class="box admin">
    ✅ Only visible to admins
  </div>


  <div *appIfNot="isLoggedIn" class="box guest">❌ You are not logged in</div>


  <div *appRepeat="repeatCount" class="box repeat">🔁 Repeated Block</div>

  <h3>Hover to highlight 👇</h3>
  <p appHighlight="lightgreen" class="box">Hover me to see highlight</p>
</div>
 -->
<!-- <div class="container">
  <div class="mt-3">
    <mat-form-field appearance="outline">
      <mat-label>Enter something...</mat-label>
      <input matInput #input placeholder="Enter something">
    </mat-form-field>

  </div>
  <div>
    <button mat-stroked-button color="warn" (click)="onClick(input.value)">Click Me</button>
  </div>
  <div *ngIf="check < 5">
 <app-demo [message]="inputValue">
    <p #para>Lorem ipsum dolor sit amet consectetur adipisicing e</p>
    <h3>Input Value from Home: {{myInputValue}}</h3>
  </app-demo>

  </div>


</div> -->

<div class="container">
  <div class="m-3 w-75">
    <div class="home-component">
      <h2>Home Component</h2>
      <p>This is <b>Home</b> Component</p>
      <button>Button</button>
    </div>
    <div class="component-container">
      <app-comp1></app-comp1>
      <app-comp2></app-comp2>
    </div>
  </div>
</div>
