<div class="container">
   <app-topic [topic] = "'🎯 Custom Structural Directives Demo'"></app-topic>

  <!-- appPermission -->
  <div *appPermission="'admin'" class="box admin">
    ✅ Only visible to admins
  </div>

  <!-- appIfNot -->
  <div *appIfNot="isLoggedIn" class="box guest">❌ You are not logged in</div>

  <!-- appRepeat -->
  <div *appRepeat="repeatCount" class="box repeat">🔁 Repeated Block</div>

  <h3>Hover to highlight 👇</h3>
  <p appHighlight="lightgreen" class="box">Hover me to see highlight</p>
</div>

