/* .box {
  border: 1px dashed gray;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.admin {
  background-color: #dcedc8;
}

.guest {
  background-color: #ffccbc;
}

.repeat {
  background-color: #bbdefb;
} */

.home-component{
  text-align: center;
  border: #bbb 2px solid;
  padding: 40px 0;
  margin: 30px 0 10px 10px;

}
.component-container{

  display: flex;
  text-align: center;
}

/* button{
  width: 120px;
  height: 30px;
  border: none;
  text-align: center;
  background-color: coral;
  border-radius: 5px;
} */
