<!-- <div class="container">
   <app-topic [topic] = "'🎯 Custom Structural Directives Demo'"></app-topic>


  <div *appPermission="'admin'" class="box admin">
    ✅ Only visible to admins
  </div>


  <div *appIfNot="isLoggedIn" class="box guest">❌ You are not logged in</div>


  <div *appRepeat="repeatCount" class="box repeat">🔁 Repeated Block</div>

  <h3>Hover to highlight 👇</h3>
  <p appHighlight="lightgreen" class="box">Hover me to see highlight</p>
</div>
 -->
<!-- <div class="container">
  <div class="mt-3">
    <mat-form-field appearance="outline">
      <mat-label>Enter something...</mat-label>
      <input matInput #input placeholder="Enter something">
    </mat-form-field>

  </div>
  <div>
    <button mat-stroked-button color="warn" (click)="onClick(input.value)">Click Me</button>
  </div>
  <div *ngIf="check < 5">
 <app-demo [message]="inputValue">
    <p #para>Lorem ipsum dolor sit amet consectetur adipisicing e</p>
    <h3>Input Value from Home: {{myInputValue}}</h3>
  </app-demo>

  </div>


</div> -->

<!-- <div class="container">
  <div class="m-3 w-75">
    <div class="home-component">
      <h2>Home Component</h2>
      <p>This is <b>Home</b> Component</p>
      <button>Button</button>
    </div>
    <div class="component-container">
      <app-comp1></app-comp1>
      <app-comp2></app-comp2>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="d-flex gap-2">
      <button [routerLink]="['/login']">Login</button>
      <button [routerLink]="['/dashboard']">Dashboard</button>
    </div>

  </div>
  <h2>Home Component</h2>
</div> -->

<!-- <div class="container">
   <h1>CanActivateChild Demo</h1>
   <div class="d-flex gap-3">
     <button mat-raised-button color="primary"  (click)="loginAsAdmin()">Admin</button>
    <button mat-raised-button color="accent" (click)="loginAsUser()">User</button>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
   </div>

    <hr />
    <nav >
      <a routerLink="/admin/dashboard">Dashboard</a> |
      <a routerLink="/admin/users">Users</a> |
      <a routerLink="/admin/settings">Settings</a>
    </nav>
</div>

<hr />
<div class="container">
  <button mat-stroked-button color="warn" [routerLink]="['/edit-profile']">Edit Profile</button>
  <button mat-stroked-button color="primary" [routerLink]="['/built-in-pipes']">Built-in Pipes</button>
  <button mat-stroked-button color="warn" [routerLink]="['/custom-pipe']">Custom Pipe</button>
</div> -->
<!-- <div class="container">
  <h2>🏠 Welcome to E-Learning App</h2>
<p>Navigate to explore other sections:</p>

<nav>
  <a routerLink="/e-learning-courses">Go to Courses</a> |
  <a routerLink="/e-learning-admin">Go to Admin</a> |
  <a routerLink="/e-learning-auth">Go to Auth</a>
</nav>

<router-outlet></router-outlet>

</div> -->
<div class="container">
  <h5 style="text-align: center;">Template Driven Forms</h5>
  <button mat-mini-fab matTooltip="Register" [routerLink]="['/tdfRegister']" color="primary">
    <mat-icon>add</mat-icon>
  </button>

 <!-- <button mat-mini-fab matTooltip="Login" [routerLink]="'/register'" color="warn">
    <mat-icon>login</mat-icon>
  </button> -->
</div>
