<h1>App(root) Component (v16)</h1>
<!-- <app-test></app-test> -->
<!-- <div class="app-test"></div> -->
<!-- <div app-test></div> -->
<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-temp-ref-variables></app-temp-ref-variables> -->
<!-- <app-two-way-data-binding></app-two-way-data-binding> -->
<!-- <app-if></app-if> -->
 <!-- <app-switch></app-switch> -->
  <!-- <app-for></app-for> -->
<!-- <app-sender></app-sender> -->
 <!-- <app-view-child></app-view-child> -->
  <!-- <app-parent></app-parent> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-questionnaire></app-questionnaire> -->
 <!-- <app-parent-panel></app-parent-panel> -->
<!-- <app-modal>
      <app-modal-header>
        <h4>This is Modal Header</h4>
      </app-modal-header>
      <app-modal-body modal-body>
        <p>This is the modal body content</p>
      </app-modal-body>
      <app-modal-footer class="modal-footer">
        <button mat-button color="primary">Ok</button>
        <button mat-button color="warn">Cancel</button>
      </app-modal-footer>
</app-modal> -->
<!-- <app-stepper>
  <app-step title="Step 1">
    <p>This is content of Step 1</p>
  </app-step>
  <app-step title="Step 2">
    <p>This is content of Step 2</p>
  </app-step>
  <app-step title="Step 3">
    <p>This is content of Step 3</p>
  </app-step>
</app-stepper> -->
<!-- <p appHighlight="lightgreen">Hover me to highlight with lightgreen!</p>
<p appHighlight>Hover me to highlight with default (yellow)</p> -->


<!-- <div *appPermission="'admin'">
  This is only visible to admin.
</div>

<div *appPermission="'guest'">
  This is only visible to guest (won’t show if user is admin).
</div> -->
<!-- <app-home></app-home> -->
<!-- <app-header></app-header> -->

<app-header></app-header>
