<app-topic [topic]="topicName"></app-topic>
<div class="container">
  <div style="border: 2px solid blue; padding: 10px">
    <h3>🧑‍💼 I am Parent Component</h3>

    <!-- Projecting child -->
    <!-- <app-child></app-child> -->
    <ng-template #childHost></ng-template>
    <!-- Change to false to test -->
    <button mat-raised-button color="accent" (click)="callChildMethod()">
      Call Child Method
    </button>

    <!-- <p>Child's Message (Accessed in Parent): {{ childComp?.childMessage }}</p> -->
    <p>Child's Message (Accessed in Parent): {{ childMessage }}</p>
  </div>
</div>
